In [67]:
import sys, os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sys.path.insert(0,os.path.abspath('..'))
from Scripts.project_functions import *

In [68]:
df = load_and_process('...data.raw.database')
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,record_id,city,state,year,month,incident,crime_type,crime_solved,victim_sex,victim_age,victim_race,perpetrator_sex,perpetrator_age,perpetrator_race,relationship,weapon,victim_count,perpetrator_count,record_source
0,1,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,Yes,Male,14,Native American/Alaska Native,Male,15,Native American/Alaska Native,Acquaintance,Blunt Object,0,0,FBI
1,2,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0,FBI
2,4,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,Yes,Male,43,White,Male,42,White,Acquaintance,Strangulation,0,0,FBI
3,6,Anchorage,Alaska,1980,May,1,Murder or Manslaughter,Yes,Male,30,White,Male,36,White,Acquaintance,Rifle,0,0,FBI
4,7,Anchorage,Alaska,1980,May,2,Murder or Manslaughter,Yes,Female,42,Native American/Alaska Native,Male,27,Black,Wife,Knife,0,0,FBI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325231,638449,Natrona,Wyoming,2014,August,1,Murder or Manslaughter,Yes,Male,29,Native American/Alaska Native,Male,67,Black,Friend,Firearm,0,0,FBI
325232,638451,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,Yes,Male,62,White,Male,57,White,Acquaintance,Handgun,0,0,FBI
325233,638452,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,Asian/Pacific Islander,Female,22,Asian/Pacific Islander,Daughter,Suffocation,0,0,FBI
325234,638453,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,Yes,Male,55,White,Male,31,White,Stranger,Knife,0,1,FBI
325235,638454,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,White,Female,24,White,Daughter,Blunt Object,0,1,FBI

In [43]:
count = df.count()
count

Record ID            325236
City                 325236
State                325236
Year                 325236
Month                325236
Incident             325236
Crime Type           325236
Crime Solved         325236
Victim Sex           325236
Victim Age           325236
Victim Race          325236
Perpetrator Sex      325236
Perpetrator Age      325236
Perpetrator Race     325236
Relationship         325236
Weapon               325236
Victim Count         325236
Perpetrator Count    325236
Record Source        325236
dtype: int64

In [42]:
heatmap_data = pd.pivot_table(df, values= 'RecordId', 
                              index=['City','State'], 
                              columns='Month')
heatmap_data.head()

KeyError: 'RecordId'